html{
    scroll-behavior: smooth;
}
.navbar{
    background: linear-gradient(to top right,rgb(240, 235, 235) 0%,rgb(145, 68, 68));
    text-decoration: none;
}
.nav-item{
    padding: right;
}
.nan-item a{
    color: white;
    text-decoration: none;
}
.nan-item :hover{
    text-decoration: none;
    color: white;
}

h1{
    color: rgb(199, 211, 27);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -18px;
}
p{
    font-size:xx-large;
    text-align: center;
}
.src1{
    margin: 0;
    border: rgb(199, 173, 173);
    padding:center;
    background-color: rgb(8, 248, 48);
}
.card{
    border: thin solid black;;
    padding: auto;
    width: 500px;
    margin:auto;
    box-shadow: 5px 10px;
}
.row{
    border:thin solid black;
    padding: auto;
    background-color:rgb(136, 91, 40);
    
    
}

.img-fluid{
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    border: thin solid black;
}

li{
    color: rgb(14, 13, 13);
    font-size: x-large;
}
.d-flex{
    margin-left: 10%;
}
.d-flex img{
    padding: 10%;
    width: 350px;
    height: 350px;

}
.p-2{
    border: thin solid rgb(238, 232, 232);
    margin: 10px;
}
.p-2 button{
    margin-left: 30px;
    background-color: rgb(255, 81, 0);
    color: white;
    width: auto;
}
.tabel{
    margin: auto;
    border:thin solid black;
    width: 100%;
}
footer{
    text-align: center;
    color: rgb(250, 64, 64);
    background-color: black;
    margin-bottom: -2%;
    padding: auto;
}
.setup{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -1%;
    margin-bottom: -1%;
    border: thin solid black;
    text-align: center;
    padding: auto;
    background: linear-gradient(to top right,rgb(96, 212, 131) 0%,rgb(51, 94, 122));

}
button{
    background-color:darkred;
    color: white;
    width: auto;
}
label{
    color:thin solid rgb(212, 51, 51);
}
input{
    border:thin solid black;
}
body{
    background-color:coral;
}